<h1>1. Sign in with Azure account {{#if session.isAuthenticated}}<span class="glyphicon glyphicon-ok text-success"></span>{{/if}}</h1> 
<p>You need to use an account which has an associated Azure subscription.</p>
<p>
  {{#if session.isAuthenticated}}
    Logged in as: <b>{{session.data.authenticated.user.displayName}}</b>
  {{else}}
    <button type="button" class="btn btn-lg btn-default"  {{action (route-action 'login')}}>Sign In</button>
  {{/if}}
</p>

<h1>2. Create PowerBI Workspace Collection</h1>
<p>Select a subscription and resource group which you will create the workspace collection within.</p>

<button type="button" class="btn btn-primary" {{action (action "loadSubscriptions")}} disabled={{not session.isAuthenticated}}>Load Subscriptions</button>
<div class="panel panel-default">
  <div class="panel-heading">Subscriptions</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>State</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each subscriptions as |subscription|}}
        <tr>
          <td>{{subscription.id}}</td>
          <td>{{subscription.displayName}}</td>
          <td>{{subscription.state}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectSubscription" subscription)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4" class="text-center text-danger">No Subscriptions Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>
  Selected Subscription: {{selectedSubscription.displayName}}
</p>
<div class="panel panel-default">
  <div class="panel-heading">Resource Groups</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Location</th>
        <th>State</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedSubscription.resourceGroups as |resourceGroup|}}
        <tr>
          <td>{{resourceGroup.id}}</td>
          <td>{{resourceGroup.location}}</td>
          <td>{{subscription.provisioningState}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectResourceGroup" resourceGroup)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4" class="text-center text-danger">No Resource Groups Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>
  Selected Resource Group: {{selectedResourceGroup.name}}
</p>
<div class="panel panel-default">
  <div class="panel-heading">Workspace Collections:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Location</th>
        <th>Created</th>
        <th>State</th>
        <th>Status</th>
        <th>Tier</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedResourceGroup.workspaceCollections as |workspaceCollection|}}
        <tr>
          <td>{{workspaceCollection.id}}</td>
          <td>{{workspaceCollection.location}}</td>
          <td>{{workspaceCollection.createdDate}}</td>
          <td>{{workspaceCollection.provisioningState}}</td>
          <td>{{workspaceCollection.status}}</td>
          <td>{{workspaceCollection.skutier}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectWorkspaceCollection" workspaceCollection)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="8" class="text-center text-danger">No Workspace Collections Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form {{action (route-action "createWorkspaceCollection" workspaceCollectionName) on="submit" }}>
  <div class="form-group">
    <label for="workspaceCollectionName">Name</label>
    <input type="text" class="form-control" id="workspaceCollectionName" placeholder="Workspace Collection Name" value={{workspaceCollectionName}} />
    <small>Name for workspace collection. E.g. Finance</small>
  </div>
  <button type="submit" class="btn btn-success" disabled={{not selectedResourceGroup}}>Create new Workspace Collection</button>
</form>

<h1>3. Create a Workspace</h1>
<p>
  Selected WorkspaceCollection: {{selectedWorkspaceCollection.id}}
</p>
<div class="panel panel-default">
  <div class="panel-heading">Workspaces:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspaceCollection.workspaces as |workspace|}}
        <tr>
          <td>{{workspace.id}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectWorkspace" workspace)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="8" class="text-center text-danger">No Workspaces Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-success" disabled={{selectedWorkspace}}>Create new Workspace</button>

<h1>4. Upload a Report</h1>
<p>
  Selected Workspace: {{selectedWorkspace.name}}
</p>
<p>Select a file from your computer.</p>

<input type="file">
<button type="button">Upload</button>

<h1>5. Optional: Update Report Credentials</h1>
<p></p>

<h1>6. Embed Report</h1>

<button type="button">Embed</button>


