<h1>1. Sign in with Azure account {{#if session.isAuthenticated}}<span class="glyphicon glyphicon-ok text-success"></span>{{/if}}</h1> 
<p>You need to use an account which has an associated Azure subscription.</p>
<p>
  {{#if session.isAuthenticated}}
    Logged in as: <b>{{session.data.authenticated.user.displayName}}</b>
  {{else}}
    <button type="button" class="btn btn-lg btn-default"  {{action (route-action 'login')}}>Sign In</button>
  {{/if}}
</p>

<h1>2. Create PowerBI Workspace Collection</h1>
<p>Select a subscription and resource group which you will create the workspace collection within.</p>

<button type="button" class="btn btn-primary" {{action (action "loadSubscriptions")}} disabled={{not session.isAuthenticated}}>Load Subscriptions</button>
<div class="panel panel-default">
  <div class="panel-heading">Subscriptions</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="visible-lg">Id</th>
        <th class="visible-md visible-lg">State</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each subscriptions as |subscription|}}
        <tr>
          <td>{{subscription.displayName}}</td>
          <td class="visible-lg">{{subscription.id}}</td>
          <td class="visible-md visible-lg">{{subscription.state}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectSubscription" subscription)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4" class="text-center text-danger">No Subscriptions Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>
  Selected Subscription: {{selectedSubscription.displayName}}
</p>
<div class="panel panel-default">
  <div class="panel-heading">Resource Groups</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th class="visible-md visible-lg">Location</th>
        <th class="visible-lg">State</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedSubscription.resourceGroups as |resourceGroup|}}
        <tr>
          <td>{{resourceGroup.id}}</td>
          <td class="visible-md visible-lg">{{resourceGroup.location}}</td>
          <td class="visible-lg">{{resourceGroup.provisioningState}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectResourceGroup" resourceGroup)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4" class="text-center text-danger">No Resource Groups Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<p>
  Selected Resource Group: {{selectedResourceGroup.name}}
</p>
<div class="panel panel-default">
  <div class="panel-heading">Workspace Collections:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Location</th>
        <th class="visible-lg">Created</th>
        <th class="visible-lg">State</th>
        <th class="visible-md visible-lg">Status</th>
        <th class="visible-lg">Tier</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedResourceGroup.workspaceCollections as |workspaceCollection|}}
        <tr>
          <td>{{workspaceCollection.id}}</td>
          <td>{{workspaceCollection.location}}</td>
          <td class="visible-lg">{{moment-format workspaceCollection.createdDate 'LLL'}}</td>
          <td class="visible-lg">{{workspaceCollection.provisioningState}}</td>
          <td class="visible-md visible-lg">{{workspaceCollection.status}}</td>
          <td class="visible-lg">{{workspaceCollection.skutier}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectWorkspaceCollection" workspaceCollection)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="8" class="text-center text-danger">No Workspace Collections Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<form {{action (route-action "createWorkspaceCollection" (hash name=workspaceCollectionName subscription=selectedSubscription resourceGroup=selectedResourceGroup)) on="submit" }}>
  <div class="form-group">
    <label for="workspaceCollectionName">Name</label>
    {{input type="text" class="form-control" id="workspaceCollectionName" placeholder="Workspace Collection Name" value=workspaceCollectionName }}
    <small>Name for workspace collection. E.g. Finance: {{workspaceCollectionName}}</small>
  </div>
  <button type="submit" class="btn btn-success" disabled={{not selectedResourceGroup}}>Create new Workspace Collection</button>
</form>


<h1>3. Create a Workspace</h1>
{{#if selectedWorkspaceCollection}}
<p>
  Selected WorkspaceCollection: {{selectedWorkspaceCollection.id}}
</p>
<p>
  Access Key1: {{selectedWorkspaceCollection.accessKeys.key1}}
  {{#copy-button
    clipboardText=selectedWorkspaceCollection.accessKeys.key1
    class="btn btn-primary"
  }}
    Copy Key1
  {{/copy-button}}
</p>
<p>
  Access Key2: {{selectedWorkspaceCollection.accessKeys.key2}}
  {{#copy-button
    clipboardText=selectedWorkspaceCollection.accessKeys.key2
    class="btn btn-primary"
  }}
    Copy Key2
  {{/copy-button}}
</p>
{{/if}}
<div class="panel panel-default">
  <div class="panel-heading">Workspaces:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspaceCollection.workspaces as |workspace|}}
        <tr>
          <td>{{workspace.id}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectWorkspace" workspace)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2" class="text-center text-danger">No Workspaces Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-success" disabled={{not selectedWorkspaceCollection}} {{action (route-action "createWorkspace" (hash workspaceCollection=selectedWorkspaceCollection)) }}>Create new Workspace</button>

<div class="panel panel-default">
  <div class="panel-heading">Provision Tokens:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Token</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspaceCollection.tokens as |token|}}
        <tr>
          <td class="text-wrap">{{token}}</td>
          <td>{{#copy-button clipboardText=token class="btn btn-primary" }}Copy{{/copy-button}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2" class="text-center text-danger">No Tokens Created</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary" {{action "generateProvisionToken" selectedWorkspaceCollection (route-action "generateProvisionToken" (hash workspaceCollection=selectedWorkspaceCollection))  }}>Get Provision Token</button>

<div class="panel panel-default">
  <div class="panel-heading">Imports:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Id</th>
        <th>State</th>
        <th>Created</th>
        <th>Updated</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspace.imports as |import|}}
        <tr>
          <td>{{import.name}}</td>
          <td>{{import.id}}</td>
          <td>{{import.importState}}</td>
          <td>{{moment-format import.createdDateTime 'LLL'}}</td>
          <td>{{moment-format import.updatedDateTime 'LLL'}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectImport" import)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="6" class="text-center text-danger">No Import Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Reports:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Id</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspace.reports as |report|}}
        <tr>
          <td>{{report.name}}</td>
          <td>{{report.id}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectReport" report)}}>Select</button></td>
        </tr>
        <tr>
          <td colspan="3">{{report.webUrl}}</td>
        </tr>
        <tr>
          <td colspan="3">{{report.embedUrl}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3" class="text-center text-danger">No Reports Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Datasets:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Id</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspace.datasets as |dataset|}}
        <tr>
          <td>{{dataset.name}}</td>
          <td>{{dataset.id}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectDataset" dataset)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3" class="text-center text-danger">No Datasets Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Gateways:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspace.gateways as |gateway|}}
        <tr>
          <td>{{gateway.id}}</td>
          <td><button type="button" class="btn btn-primary" {{action (action "selectGateway" gateway)}}>Select</button></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2" class="text-center text-danger">No Gateways Loaded</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Dev Tokens:</div>
  <table class="table">
    <thead>
      <tr>
        <th>Token</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each selectedWorkspace.tokens as |token|}}
        <tr>
          <td class="text-wrap">{{token}}</td>
          <td>{{#copy-button clipboardText=token class="btn btn-primary" }}Copy{{/copy-button}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2" class="text-center text-danger">No Tokens Created</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary" {{action "generateDevToken" selectedWorkspace (route-action "generateDevToken" (hash workspaceCollection=selectedWorkspaceCollection workspace=selectedWorkspace))  }}>Get Dev Token</button>


<h1>4. Upload a Report</h1>
<p>
  Selected Workspace: {{selectedWorkspace.name}}
</p>
{{#pbix-file-upload workspaceCollection=selectedWorkspaceCollection workspace=selectedWorkspace}}{{/pbix-file-upload}}

<h1>5. Optional: Update Report Credentials</h1>
<p>If a report is using DirectQuery you need to supply credentials to access the data securely.</p>
<p>
  Selected Report: {{selectedReport.name}}
</p>

<h1>6. Embed Report</h1>
{{#if embedConfig.accessToken.isSettled}}
  {{powerbi-report embedUrl=embedConfig.embedUrl accessToken=embedConfig.accessToken.content}}
{{/if}}


