<h1>Browse</h1>

<p>
  {{#if session.isAuthenticated}}
    <div class="clearfix">
      <div class="pull-left">
        {{secure-image src=sessionAccount.photoUrl accessToken=sessionAccount.microsoftGraph.accessToken class="profile-image"}}
      </div>
      <div class="pull-left">
        {{session.data.authenticated.user.displayName}} <br>
        {{session.data.authenticated.user.mail}} <br>
        {{session.data.authenticated.user.jobTitle}} <br>
        Power BI License: {{#if sessionAccount.hasPowerBiLicense}} {{pbi-icon name="checkmark" size="small" class="text-success"}} {{/if}}
      </div>
    </div>
  {{else}}
    <button type="button" class="btn btn-lg btn-default"  {{action (route-action 'login')}}>Sign In</button>
  {{/if}}
</p>

<button type="button" class="btn btn-primary" {{action (action "loadSubscriptions")}} disabled={{not session.isAuthenticated}}>Load Subscriptions</button>

<ul class="tree">
  {{#each subscriptionNodes as |node|}}
    {{pbi-node node=node}}
  {{/each}}
</ul>
