<div class="pbi-layout-content pbi-layout-content--flex">

  <div class="pbi-explorer">
    <div class="pbi-explorer__actions">
      <div class="pbi-explorer-actions">
        <div class="pbi-explorer-actions__tabs">
          <button class="pbi-explorer-actions__tab pbi-explorer-actions__tab--active">
            Active Tab
          </button>
          <button class="pbi-explorer-actions__tab">
            Tab
          </button>
        </div>
        <div class="pbi-explorer-actions__content">
          {{#if mostRecentSelectedNode}}
            {{component mostRecentSelectedNode.actionsComponentName node=mostRecentSelectedNode}}
          {{else}}
            Select a node to see actions for this node type.
          {{/if}}
        </div>
      </div>
    </div>
    <div class="pbi-explorer__path">
      <div class="pbi-explorer-path">
        <div class="pbi-explorer-path__navigation-buttons">
          <button class="pbi-explorer-path-navigation-button">
            {{pbi-icon name="back" size="small"}}
          </button>
          <button class="pbi-explorer-path-navigation-button">
            {{pbi-icon name="rightarrow" size="small"}}
          </button>
          <button class="pbi-explorer-path-navigation-button">
            {{pbi-icon name="uparrow" size="small"}}
          </button>
        </div>
        <div class="pbi-explorer-path__address">
          {{pbi-breadcrumbs tagName="span" node=selectedTreeNode }} {{! input type="text" class="pbi-explorer-path__address-input" placeholder="Address Bar"}}
        </div>
        {{input type="text" class="pbi-explorer-path__search" placeholder="Filter" value=searchInput escape-press="searchEscapePressed" insert-newline="searchEnterPressed"}}
      </div>
    </div>
    <div class="pbi-explorer__content">
      <div class="pbi-explorer__tree">
        <ul class="tree">
          {{#each subscriptionNodes as |node|}}
            {{pbi-node node=node onSingleClick=(action 'treeNodeClicked') selectedNode=selectedTreeNode }}
          {{else}}
            <li>No Subscriptions</li>
          {{/each}}
        </ul>
      </div>
      <div class="pbi-explorer__currentlist">
        {{#if selectedTreeNode}}
          {{#if (gt selectedTreeNode.nodes.length 0)}}
            <b>{{component selectedTreeNode.nodes.firstObject.headersComponentName}}</b>
          {{/if}}
          <ul class="pbi-selected-node-list">
            {{#each fuzzySearchResults as |fuzzySearchResult|}}
              <li {{action (action "listNodeClicked" fuzzySearchResult.original)}} {{action (action "listNodeDoubleClicked" fuzzySearchResult.original) on="doubleClick"}} class="{{if (eq fuzzySearchResult.original selectedListNode) 'selected'}}" >
                {{component fuzzySearchResult.original.detailsComponentName node=fuzzySearchResult.original fuzzyString=fuzzySearchResult.string}}
              </li>
            {{else}}
              No results.
            {{/each}}
          </ul>
        {{else}}
          Select an item from the tree on the left.
        {{/if}}
      </div>
      <div class="pbi-explorer__preview">
        {{#if mostRecentSelectedNode}}
          <h3>{{mostRecentSelectedNode.name}}</h3>
          {{component mostRecentSelectedNode.previewComponentName node=mostRecentSelectedNode}}
        {{else}}
          Select a node to see preview for that node.
        {{/if}}
      </div>
    </div>
  </div>

</div>