<div class="pbi-layout-content pbi-layout-content--flex">

  <div>
    {{#if session.isAuthenticated}}
      <button type="button" class="btn btn-primary" {{action (action "loadSubscriptions")}} disabled={{not session.isAuthenticated}}>Load Subscriptions</button>
    {{else}}
      <button type="button" class="btn btn-lg btn-default"  {{action (route-action 'login')}}>Sign In</button>
    {{/if}}
  </div>

  <div class="pbi-explorer">
    <div class="pbi-explorer__actions">
      <div class="pbi-explorer-actions">
        <div class="pbi-explorer-actions__tabs">
          <button class="pbi-explorer-actions__tab pbi-explorer-actions__tab--active">
            Active Tab
          </button>
          <button class="pbi-explorer-actions__tab">
            Tab
          </button>
        </div>
        <div class="pbi-explorer-actions__content">
          <div class="pbi-explorer-action">
            Action 1
          </div>
        </div>
      </div>
    </div>
    <div class="pbi-explorer__path">
      <div class="pbi-explorer-path">
        <div class="pbi-explorer-path__navigation-buttons">
          <button class="pbi-explorer-path-navigation-button">
            {{pbi-icon name="back" size="small"}}
          </button>
          <button class="pbi-explorer-path-navigation-button">
            {{pbi-icon name="rightarrow" size="small"}}
          </button>
          <button class="pbi-explorer-path-navigation-button">
            {{pbi-icon name="uparrow" size="small"}}
          </button>
        </div>
        <div class="pbi-explorer-path__address">
          Subscription > ResourceGroup > {{input type="text" class="pbi-explorer-path__address-input" placeholder="Address Bar"}}
        </div>
        {{input type="text" class="pbi-explorer-path__search" placeholder="Filter" value=searchInput escape-press="searchEscapePressed" insert-newline="searchEnterPressed"}}
      </div>
    </div>
    <div class="pbi-explorer__content">
      <div class="pbi-explorer__tree">
        <ul class="tree">
          {{#each subscriptionNodes as |node|}}
            {{pbi-node node=node onSingleClick=(action 'selectNode') selectedNode=selectedNode }}
          {{else}}
            <li>No Subscriptions</li>
          {{/each}}
        </ul>
      </div>
      <div class="pbi-explorer__currentlist">
        {{#if selectedNode}}
          {{#if (gt selectedNode.nodes.length 0)}}
            <b>{{component selectedNode.nodes.firstObject.headersComponentName}}</b>
          {{/if}}
          <ul class="pbi-selected-node-list">
            {{#each fuzzySearchResults as |fuzzySearchResult|}}
              <li {{action (action "selectItem" fuzzySearchResult.original)}} {{action (action "doubleClickItem" fuzzySearchResult.original) on="doubleClick"}} class="{{if (eq fuzzySearchResult.original selectedItem) 'selected'}}" >
                {{component fuzzySearchResult.original.detailsComponentName node=fuzzySearchResult.original fuzzyString=fuzzySearchResult.string}}
              </li>
            {{else}}
              No results.
            {{/each}}
          </ul>
        {{else}}
          Select an item from the tree on the left.
        {{/if}}
      </div>
      <div class="pbi-explorer__preview">
        Preview
        {{selectedItem.name}}
      </div>
    </div>
  </div>

</div>