<div class="pbi-layout-content pbi-layout-content--absolute">

  <div class="clearfix">
    <div class="pull-left">
      {{secure-image src=sessionAccount.photoUrl accessToken=sessionAccount.microsoftGraph.accessToken class="profile-image"}}
    </div>
    <div class="pull-left">
      {{session.data.authenticated.user.displayName}} <br>
      {{session.data.authenticated.user.mail}} <br>
      {{session.data.authenticated.user.jobTitle}} <br>
      Power BI License: {{#if sessionAccount.hasPowerBiLicense}} {{pbi-icon name="checkmark" size="small" class="text-success"}} {{/if}}
    </div>
  </div>

  <button type="button" class="btn btn-default" {{action (route-action 'invalidateSession')}}>Sign Out</button>

  <h3>Id Token:</h3>
  {{jwt-viewer accessToken=session.data.authenticated.idToken}}
    
  {{#each session.data.authenticated.resources as |resource|}}
    <h3>{{resource.endpointUri}}</h3>
    {{jwt-viewer accessToken=resource.accessToken}}
  {{/each}}

</div>
