<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>
          Microsoft | PowerBI
        </p>
      </div>
      <div class="col-md-8 text-right">
        {{#if session.isAuthenticated}}
          {{session.data.authenticated.user.displayName}} <br>
          {{session.data.authenticated.user.mail}} <br>
          {{session.data.authenticated.user.jobTitle}} <br>
          Power BI: {{#if sessionAccount.hasPowerBiLicense}}<span class="glyphicon glyphicon-ok"></span>{{else}}<span class="glyphicon glyphicon-remove"></span>{{/if}}
          <button type="button" class="btn btn-default" {{action (route-action 'invalidateSession')}}>Sign Out</button>
        {{else}}
          <button type="button" class="btn btn-default" {{action (route-action 'login')}}>Sign In</button>
        {{/if}}
      </div>
    </div>
  </div>
</header>
<nav>
  <div class="container">
    {{#link-to "index"}}Getting Started{{/link-to}}
    {{#link-to "profile"}}Profile{{/link-to}}
  </div>
</nav>
<main>
  <div class="container">
    {{outlet}}
  </div>
</main>
